.container{
    margin: 10px;
}

.now{
    font-weight: bold;
    font-style: italic;
    color:blueviolet;
    padding-left: 20px;
}

#icon{
    padding-left: 15px;
}

#map{
    height: 300px;
    width: 400px;
    float: right;
    padding-right: 100px;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 10px;
}

hr{
    padding-left: 20px;
}

h4{
    padding-left: 20px;
    margin: 0px;

}

button{
    background-color: #4CAF50;
    border:none;
    color: white; 
    padding: 8px;
    border-radius: 5px;
    height: 30px;
}

#nume{
    height:25px ;
}

#search{
    margin: 30px;

}

#vremeaAcum, #prognozaMeteo{
    margin: 30px;
    border-radius:10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);

}

.th{
    background-color: aqua;
}

.box{
    border-radius: 15px;
    /* opacity: 0.8; */
    margin:5px;
    padding-left: 20px;
}

.forecast{
    font-size: 10pt;
}

.g{
    font-size: 10pt;
    font-weight: bold;
}

#prognozaMeteo{
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
    padding: 1px;
}

