/* .container{
    background-color: dodgerblue;
    /* display: inline-block; */
    /* margin: 100px; */ 
/* } */

#shopping{
    /* display: inline-block; */
    margin: 50px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: white;
    /* width: 500px;
    height: 500px; */
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
    
}

#title{
    font-weight: bold;
    padding-left: 50px;
}

#casuta{
    margin-left: 50px;
}

#add{
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 10pt;
}

.sort{
    background-color: dodgerblue;
    border: none;
    color: white;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 10pt;
}

#first{
    margin-right: 5px;
}

#second{
    margin-left: 5px;
}

thead{
    font-weight: bold;
    font-size: 10pt;
}

.mark{
    font-size: 10pt;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.listaCumparaturi {
    margin-left: 50px;
}

.strike{
    text-decoration: line-through;
}

.empty {
    text-decoration: none;
}