
body{
    margin: 0px;
    background-color:rgb(0,191,255);
}

     .container-fluid{
         padding:0px;
         margin: 0px;
     } 
   
  
    .carousel-inner{
        max-width: 100%;
        max-height: 30%;
        z-index: 1;
    }
   
    .ham{
        background-color: rgba(127,187,0,0);
        color:white;
        border: none;
        z-index: 2;
    }
    
    
    #admin{
    position: fixed;
    top: 0;
    right: 0;
    
    }
    
    #ab{
        position: fixed;
        top: 0;
        left: 0;
    }
    
    a{
        font-family: "Open Sans";
        font-weight: bold;
    }
    
    .dropdown-menu{
    
        background-color: #7FBB00;
        text-align: justify;
    }
      
    .dropdown-menu a {
        text-decoration: none;
        padding: 10px;
        color: white;
        font-style: normal;
        font-size: 12pt;
        
    }