body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(14, 141, 245, 0);
    font-kerning: normal;
    margin: 50px;
    

}

.card{
    width: 30rem;
    font-size: 14px;
    border-radius: 10px;
}

#adresa{
    font-weight: bold;
}


#map {
    height: 300px;
    width: 100%;
   }

   

html {
    background: url("map.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  

 icon{
     height:100px;
 }
  
  
  
  
  
 