body{
   margin-top: 35px;
   margin-bottom: 35px;
   margin-left: 50px;
   margin-right: 50px;
   /* border-image:"ornament.svg"; */
}


#titlu{
    font-weight: bold;
    font-size: 20px;
    font-kerning: normal;
    font-family: "Open Sans";
    margin-top: 20px;
}

#autor{
    font-family: "Open Sans";
    font-size: 12pt;
    font-kerning: normal;
    font-style: italic;

}

#descriere{
    font-kerning: normal;
    font-size: 10pt;
    text-align: justify;
    font-family: "Open Sans";
    line-height: 150%;

}

#data, #codProdus{
    font-kerning: normal;
    font-size: 10pt;
    font-family: "Open Sans";
    line-height: 150%;
}


img{

    height: 200px;
    width: 200px;
    object-fit: cover;

}
