.now{
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}
#map{
    height: 400px;
    width: 400px;
    float:right;
    margin: 0px;
}

h3{
    margin: 0px;
}

table, tr, td{
    border: 1px solid black;
    
}

table{
    border-collapse: collapse;
}

button{
    background-color: #4CAF50;
    border:none;
    color: white; 
    padding: 8px;
    border-radius: 5px;
    height: 30px;
}

#nume{
    height:25px ;
}

#search{
    margin-top: 50px;
}